.post-add-card {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 5px;

  > form {
    display: flex;
    flex-direction: column;

    > .form__button-submit {
      display: flex;
      justify-content: center;
      align-items: center;

      > * {
        width: 30%;
      }
    }

    > * + * {
      margin-top: 16px;
    }
  }

  > h1 {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1a1a1b;
  }

  > form {
    textarea {
      resize: vertical;
      min-height: 100px;
    }
  }
}
