.post {
  background-color: #ffffff;
  padding: 16px;

  > .post__header {
    display: flex;
    align-items: center;
    > h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
      margin-right: 10px;
    }

    > div {
      color: rgb(120, 124, 126);
      font-size: 12px;
    }

    @media (max-width: 640px) {
      > h1 {
        font-size: 18px;
      }
      > div {
        font-size: 11px;
      }
    }
  }

  > .post__img {
    display: flex;
    justify-content: center;
    width: 100%;

    > img {
      width: 100%;
    }
  }

  > .post__not-found {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
