.screen-root {
  height: 100%;
  background-color: #dae0e6;

  > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 50px 0;
    height: calc(100vh - 48px);

    > div {
      max-width: 640px;
      width: 100%;
    }
  }
}
