.ReactModalPortal {
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4) !important;

    > .Modal {
      outline: none;
      border-radius: 6px;
      min-width: 400px;
      background-color: white;
      box-shadow: 1px 7px 20px 2px rgba(0, 0, 0, 0.4);
      padding: 40px 16px;
      position: relative;

      > svg {
        height: 16px;
        fill: grey;
        width: 20px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
      }

      > h1 {
        margin: 0;
        margin-bottom: 16px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #1a1a1b;
      }

      > form {
        display: flex;
        flex-direction: column;

        > .form__button-submit {
          display: flex;
          justify-content: center;
          align-items: center;

          > * {
            width: 30%;
          }
        }

        > * + * {
          margin-top: 16px;
        }
      }

      > .modal__error {
        text-align: center;
        margin-top: 16px;
        color: red;
        font-weight: 500;
      }

      @media (max-width: 400px) {
        border-radius: 0px;
        min-width: auto;
        width: 100%;
        height: 100%;
      }
    }
  }
}
