.post-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 49.44px;
  padding: 3px 0px;
  padding-left: 40px;
  padding-right: 4px;
  border: thin solid transparent;
  transition: border 0.1s;

  > .post-item__info {
    cursor: pointer;
    > h3 {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }

    > .post-item__date {
      color: rgb(120, 124, 126);
      font-size: 12px;
    }
  }

  > button {
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    line-height: 0;
    padding: 0 4px;
    background: transparent;
    border: none;
    color: rgb(135, 138, 140);
    height: 24px;

    &:hover {
      background-color: #1a1a1b1a;
    }
  }

  &:hover {
    border-color: #898989;
  }

  .post-item__tooltip-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #edeff1;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #1c1c1c33;
    padding: 0;
    background-color: #ffffff;

    > button {
      color: #1c1c1c;
      cursor: pointer;
      padding: 8px 16px 8px 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: #878a8c;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        background-color: #e9f5fd;
      }
    }
  }
}
