.ui-button {
  background-color: rgb(0, 121, 211);
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  padding: 4px 16px;
  border-radius: 9999px;
  width: 100%;
  min-height: 32px;
  min-width: 32px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgb(20, 132, 214);
  }

  &:active {
    background-color: rgb(61, 153, 222);
  }
}

.ui-button__secondary {
  background-color: transparent;
  color: rgb(20, 132, 214);
  border: 1px solid rgb(20, 132, 214);

  &:hover {
    background-color: rgb(245, 250, 253);
  }

  &:active {
    background-color: rgb(215, 234, 248);
  }
}
