.navbar {
  height: 48px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  > a {
    text-decoration: none;
    margin-right: 25px;
    > .navbar__brand {
      font-size: 18px;
      font-weight: 500;
      color: black;
    }
  }

  .navbar__auth {
    display: flex;
    align-items: center;
    max-width: 256px;
    width: 100%;
    justify-content: center;

    > button {
      width: 50%;
    }

    > * + * {
      margin-left: 16px;
    }
  }

  @media (max-width: 600px) {
    justify-content: center;
  }
}
