.post-bar {
  > div {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1a1a1b;
  }
  
  > .post-bar__buttons {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px 12px;
    border-radius: 4px;
  }
}
