.ui-text-area {
  position: relative;

  > label {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    top: 14px;
    left: 12px;
    color: #a5a4a4;
    pointer-events: none;
    line-height: 23px;
    transition: all 0.3s;
  }

  > textarea {
    width: 100%;
    outline: none;
    background-color: #fff;
    height: 48px;
    padding: 22px 12px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 14px;
  }

  > span {
    font-size: 12px;
    color: red;
    font-weight: 500;
    padding-left: 12px;
  }
}

.ui-text-area__focused {
  > label {
    top: 0.6px;
  }
}
