.post-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  overflow-y: auto;
  height: 100%;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar:vertical {
    width: 10px;
  }

  &::-webkit-scrollbar-button:increment,
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 2px solid #ffffff;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  > * {
    flex-shrink: 0;
  }
}
